accelerate
datasets
exllama
fairscale
fire
huggingface_hub
llama
matplotlib
networkx
numpy
openai
openpyxl
optimum
pandas
pddl
peft
protobuf
PyYAML
requests
scikit_learn
scipy
seaborn
tarski
torch
tqdm
transformers
